.tile {
  width: 100px;
  height: 100px;
  border:1px solid black;
  display: inline-block;
  vertical-align:top;
  text-align:center;
  font-size: 32px;
  margin: 0px 0px;
}

.board {
  width: 1400px;
  height: 615px;
  background-image: url('http://i1.treklens.com/photos/22267/pazmandi_foldek.jpg');
  background-repeat: no-repeat;
  background-size:1326px 612px;
}

.alien {
  margin: 0px 20px 0px 20px;
  width: 60px;
  height: 90px;
  background-image: url('http://3.bp.blogspot.com/-X9ixVJA0-w4/VFFdfW1MVHI/AAAAAAAACx8/5BgQNVAJ32c/s1600/xcom%2Bsprites.png');
  background-position: -180px -295px;
}

.human {
  margin: 5px 20px;
  width: 60px;
  height: 90px;
  background-position: -6px -25px;
  background-image: url('http://www.spriters-resource.com/resources/sheets/27/29362.png');

}

.command-bar {
  height: 250px;
  border:1px solid black;
  width: 1300px;
  position:absolute;
}

.status{
  width: 778px;
  height: 70%;
  border:1px solid black;
  display:inline-block;
  float: left;
  position: relative;
}

h4 {
  line-height: 10px;
}

.commands {
  width: 518px;
  height: 70%;
  border:1px solid black;
  display: inline-block;
  float: left;
  position: relative;
}

button {
  display:block;
}

.abilities {
  height: 25%;
  width: 99%;
  border:1px solid black;
  display: inline-block;
  position: relative;
}

.deadalien {

}

.deadhuman {

}

.plasma{

}

.gunfire {

}

.health-bar {
  border: solid 1px black;
}
